<?xml version='1.0' encoding='utf-8'?>
<widget id="org.devgeeks.fourtriplezed" ios-CFBundleIdentifier="org.devgeeks.4zzz" version="4.1.0" android-versionCode="400100" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>4ZZZ</name>
    <description>
      4ZZZ Radio App
	  </description>
    <author email="tommy@devgeeks.org" href="http://devgeeks.org">
		  Tommy-Carlos Williams
	  </author>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="android-installLocation" value="auto" />
    <preference name="BackgroundColor" value="0xff455a64" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <hook src="scripts/icons-hook.sh" type="after_platform_add" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <content src="index.html" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <content src="index.html" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-navigation href="http://*/*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="nl.x-services.plugins.backgroundaudio" spec="https://github.com/EddyVerbruggen/cordova-plugin-backgroundaudio" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.1.0" />
    <plugin name="cordova-plugin-remotecommand" spec="~1.0.0" />
    <plugin name="cordova-plugin-nowplaying" spec="~1.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.4.0" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-music-controls" spec="https://github.com/homerours/cordova-music-controls-plugin#master" />
    <plugin name="cordova-plugin-media" spec="~2.4.0" />
</widget>
