.play-button {
  display: inline-block;
  box-sizing: border-box;
}

.play-button svg {
  fill: #13567b;
}

.play-button.tappable-active {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.play-button.tappable-active svg {
  fill: #1d84bd;
}
