.play-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
}

.play-button svg {
  fill: #37474F;
}

.play-button.tappable-active {
  transform: scale(1.2, 1.2);
}

.play-button.tappable-active svg {
  fill: #263238;
}
