.guide-list {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* make sure to clear the FAB */
  padding: 0 0 112px 0;
  margin: 0;
  list-style: none;
  /* hairline border, even on retina */
  background: repeat-x top left
  url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=);
  background-size: 100% 1px;
}

.guide-list li {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 16px;
  /* hairline border, even on retina */
  background: repeat-x bottom left
  url(data:image/gif;base64,R0lGODlhAQACAPABAMjHzP///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAQACAAACAgwKADs=);
  background-size: 100% 1px;
}

.guide-list li a {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: -16px;
  color: inherit;
  text-decoration: none;
  padding: 16px;
  display: flex;
  /*justify-content: space-around;*/
}

.guide-list li a .main {
  display: flex;
  flex-direction: column;
  flex: 9;
  overflow: hidden;
}

.guide-list li a .right {
  padding-left: 8px;
  align-self: center;
  flex: 1;
}

.guide-list li a.Tappable-active {
  background: #CFD8DC;
}

.guide-list .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
