.playback-controls {
  box-sizing: border-box;
  position: absolute;
  right: 32px;
  bottom: 32px;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: width .2s ease-in-out, right .3s ease-out,
    bottom .1s ease-out .2s, border-radius .1s ease-out .05s;
          transition: width .2s ease-in-out, right .3s ease-out,
    bottom .1s ease-out .2s, border-radius .1s ease-out .05s;
}

.playback-controls.offline {
  bottom: 62px;
}

.playback-controls.is-playing {
  border-radius: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: width .2s ease-in-out .1s, right .3s ease-out,
    bottom .1s ease-out, border-radius .1s ease-out .2s;
          transition: width .2s ease-in-out .1s, right .3s ease-out,
            bottom .1s ease-out, border-radius .1s ease-out .2s;
}

.playback-controls.offline.is-playing {
  bottom: 30px;
}

.playback-controls:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: 1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: opacity .2s ease-out .1s;
          transition: opacity .2s ease-out .1s;
}

.playback-controls.is-playing:before {
  opacity: 0.01;
}

.playback-controls .loading-message {
  margin-left: -8px;
}
