.playback-controls {
  position: absolute;
  right: 16px;
  bottom: 16px;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  padding: 12px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.playback-controls.is-playing {
  border-radius: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-shadow: none;
}
