.pending-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px;
  margin-right: 8px;
  box-sizing: border-box;
}

.pending-button svg {
  fill: #13567b;
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg);
  -webkit-animation: rotating 750ms ease-in-out infinite;
          animation: rotating 750ms ease-in-out infinite;
}

.pending-button.tappable-active {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.pending-button.tappable-active svg {
  fill: #1d84bd;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
  }
  to {
    -webkit-transform: rotate(393deg);
    transform: rotate(393deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
  }
  to {
    -webkit-transform: rotate(393deg);
    transform: rotate(393deg);
  }
}
