.pending-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px;
  margin-right: 8px;
  box-sizing: border-box;
}

.pending-button svg {
  fill: #37474F;
  transform: rotate(33deg);
  animation: rotating 750ms ease-in-out infinite;
}

.pending-button.tappable-active {
  transform: scale(1.2, 1.2);
}

.pending-button.tappable-active svg {
  fill: #263238;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(33deg);
  }
  to {
    transform: rotate(393deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(33deg);
  }
  to {
    transform: rotate(393deg);
  }
}
