.stop-button {
	display: block;
	box-sizing: border-box;
	width: 64px;
	height: 64px;
	background: #e6e6e6;
	border-radius: 50%;
	padding: 8px;
}

.stop-button.tappable-active {
	background: #efefef;
}

.stop-button svg {
  fill: #222222;
}

.stop-button.tappable-active svg {
  fill: #666666;
}
