.guide-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #efefef;
}

.guide-pane .content {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
  /* make sure to clear the FAB */
  padding: 16px 16px 112px 16px;
}

.guide-pane .button {
  display: block;
  padding: 8px;
  margin: 8px;
  border: 1px solid grey;
}
