.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar.gradient {
  background: linear-gradient(to bottom, rgba(55,71,79,1) 0%,rgba(55,71,79,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.navbar .title {
  position: absolute;
  top: 0;
  right: 56px;
  left: 56px;
  height: 56px;
  line-height: 56px;
  overflow: hidden;
  text-align: center;
  font-size: 130%;
}

.navbar .button.left,
.navbar .button.right {
  display: block;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

.navbar .button.right {
  right: 0;
  left: auto;
}

.navbar .button.left {
  right: auto;
  left: 0;
}

.navbar .button svg {
  fill: #CFD8DC;
}

.navbar .button.tappable-active svg {
  fill: #ffffff;
  transform: scale(1.2, 1.2);
}
